body {
  --tag-color: var(--color-1-500);
  --tag-bg-color: var(--color-1-200);
  --tag-bar-bg-color: var(--color-1-400);
  --tag-rounding: var(--round-sm);
}

.Tag {
  position: relative;

  display: flex;
  width: 118px;
  height: 38px;

  color: var(--tag-color);

  background: var(--tag-bg-color);

  border-radius: var(--tag-rounding);

  @media (--screen-lg) {
    --tag-bg-color: var(--color-2-200);
  }
}

.TagBar {
  width: 4px;
  height: 100%;

  background-color: var(--tag-bar-bg-color);

  border-top-left-radius: var(--tag-rounding);
  border-bottom-left-radius: var(--tag-rounding);

  @media (--screen-lg) {
    --tag-bar-bg-color: var(--color-2-400);
  }
}

.TagLabel {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 4px;

  font-weight: 500;
  font-size: 14px;
}
