body {
  --tag-color: var(--color-gray-500);
  --tag-bg: var(--color-gray-200);
  --tag-bar-bg: var(--color-gray-400);
  --tag-rounding: var(--round-sm);
}

.Tag {
  position: relative;

  display: flex;
  width: 118px;
  height: 38px;

  color: var(--tag-color);

  background: var(--tag-bg);

  border-radius: var(--tag-rounding);

  &Bar {
    width: 4px;
    height: 100%;

    background: var(--tag-bar-bg);

    border-top-left-radius: var(--tag-rounding);
    border-bottom-left-radius: var(--tag-rounding);
  }

  &Label {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 4px;

    font-weight: 500;
    font-size: 14px;
  }
}
