.tag {
  position: relative;

  display: flex;
  width: 118px;
  height: 38px;
  background: var(--color-gray-200);

  border-radius: 3px;

  &AccentBar {
    width: 4px;
    height: 100%;
    
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--color-gray-400);
  }

  &Label {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 4px;

    font-weight: 500;
    font-size: 14px;
  }
}
