body {
  --tag-color: var(--color-gray-800);
  --tag-bg: var(--color-gray-200);
}

.Tag {
  position: relative;

  display: flex;
  width: 118px;
  height: 38px;

  color: var(--tag-color);
  background: var(--tag-bg);
  

  border-radius: 3px;

  @media (--screen-sm) {
    --tag-bg: green;
  }

  @media (--screen-sm) {
    color: var(--color-gray-500);
  }

  &AccentBar {
    width: 4px;
    height: 100%;

    background: var(--color-gray-400);

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    @media (--screen-sm) {
      background: var(--color-red-400);
    }
  }

  &Label {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 4px;

    font-weight: 500;
    font-size: 14px;
  }
}
