body {
  box-sizing: border-box;
  margin: 0;

  font-family: Arial;

  @media (--screen-sm) {
    background: var(--tag-bar-bg-color-theme-1);
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
