body {
  --color-gray-100: #0f1113;
  --color-gray-200: #efeff1;
  --color-gray-300: #d9dbde;
  --color-gray-400: #9fa2a5;
  --color-gray-500: #5d5f62;
  --color-gray-600: #2a2d30;

  --color-green-100: #e6faef;
  --color-green-200: #c5f2db;
  --color-green-300: #3cd178;
  --color-green-400: #2b825a;
  --color-green-500: #1f6544;

  --color-blue-100: #e6efff;
  --color-blue-200: #b0cdff;
  --color-blue-300: #276de2;
  --color-blue-400: #26529e;
  --color-blue-500: #0c3373;

  --color-purple-100: #f8ecfc;
  --color-purple-200: #edc8f7;
  --color-purple-300: #ab2cd1;
  --color-purple-400: #7a0c9a;
  --color-purple-500: #48095a;

  --color-orange-100: #fef2f0;
  --color-orange-200: #fbd8d0;
  --color-orange-300: #f56a48;
  --color-orange-400: #c64b2c;
  --color-orange-500: #813421;

  --color-gold-100: #fef6e9;
  --color-gold-200: #fee9cc;
  --color-gold-300: #fdb936;
  --color-gold-400: #ce9528;
  --color-gold-500: #7e551c;

  --color-red-100: #fdedf1;
  --color-red-200: #f9c8d5;
  --color-red-300: #e23564;
  --color-red-400: #b61742;
  --color-red-500: #7d0e2c;
}
