body {
  /* Base */

  /* 1 */
  --color-theme-1-50: var(--color-gray-50);
  --color-theme-1-100: var(--color-gray-100);
  --color-theme-1-200: var(--color-gray-200);
  --color-theme-1-300: var(--color-gray-300);
  --color-theme-1-400: var(--color-gray-400);
  --color-theme-1-500: var(--color-gray-500);
  --color-theme-1-600: var(--color-gray-600);
  --color-theme-1-700: var(--color-gray-700);
  --color-theme-1-800: var(--color-gray-800);
  --color-theme-1-900: var(--color-gray-900);

  /* 2 */
  --color-theme-2-50: var(--color-red-50);
  --color-theme-2-100: var(--color-red-100);
  --color-theme-2-200: var(--color-red-200);
  --color-theme-2-300: var(--color-red-300);
  --color-theme-2-400: var(--color-red-400);
  --color-theme-2-500: var(--color-red-500);
  --color-theme-2-600: var(--color-red-600);
  --color-theme-2-700: var(--color-red-700);
  --color-theme-2-800: var(--color-red-800);
  --color-theme-2-900: var(--color-red-900);

  /* 3 */
  --color-theme-3-50: var(--color-yellow-50);
  --color-theme-3-100: var(--color-yellow-100);
  --color-theme-3-200: var(--color-yellow-200);
  --color-theme-3-300: var(--color-yellow-300);
  --color-theme-3-400: var(--color-yellow-400);
  --color-theme-3-500: var(--color-yellow-500);
  --color-theme-3-600: var(--color-yellow-600);
  --color-theme-3-700: var(--color-yellow-700);
  --color-theme-3-800: var(--color-yellow-800);
  --color-theme-3-900: var(--color-yellow-900);

  /* 4 */
  --color-theme-4-50: var(--color-green-50);
  --color-theme-4-100: var(--color-green-100);
  --color-theme-4-200: var(--color-green-200);
  --color-theme-4-300: var(--color-green-300);
  --color-theme-4-400: var(--color-green-400);
  --color-theme-4-500: var(--color-green-500);
  --color-theme-4-600: var(--color-green-600);
  --color-theme-4-700: var(--color-green-700);
  --color-theme-4-800: var(--color-green-800);
  --color-theme-4-900: var(--color-green-900);

  /* 5 */
  --color-theme-5-50: var(--color-blue-50);
  --color-theme-5-100: var(--color-blue-100);
  --color-theme-5-200: var(--color-blue-200);
  --color-theme-5-300: var(--color-blue-300);
  --color-theme-5-400: var(--color-blue-400);
  --color-theme-5-500: var(--color-blue-500);
  --color-theme-5-600: var(--color-blue-600);
  --color-theme-5-700: var(--color-blue-700);
  --color-theme-5-800: var(--color-blue-800);
  --color-theme-5-900: var(--color-blue-900);

  /* 6 */
  --color-theme-6-50: var(--color-indigo-50);
  --color-theme-6-100: var(--color-indigo-100);
  --color-theme-6-200: var(--color-indigo-200);
  --color-theme-6-300: var(--color-indigo-300);
  --color-theme-6-400: var(--color-indigo-400);
  --color-theme-6-500: var(--color-indigo-500);
  --color-theme-6-600: var(--color-indigo-600);
  --color-theme-6-700: var(--color-indigo-700);
  --color-theme-6-800: var(--color-indigo-800);
  --color-theme-6-900: var(--color-indigo-900);

  /* 7 */
  --color-theme-7-50: var(--color-purple-50);
  --color-theme-7-100: var(--color-purple-100);
  --color-theme-7-200: var(--color-purple-200);
  --color-theme-7-300: var(--color-purple-300);
  --color-theme-7-400: var(--color-purple-400);
  --color-theme-7-500: var(--color-purple-500);
  --color-theme-7-600: var(--color-purple-600);
  --color-theme-7-700: var(--color-purple-700);
  --color-theme-7-800: var(--color-purple-800);
  --color-theme-7-900: var(--color-purple-900);

  /* 8 */
  --color-theme-8-50: var(--color-pink-50);
  --color-theme-8-100: var(--color-pink-100);
  --color-theme-8-200: var(--color-pink-200);
  --color-theme-8-300: var(--color-pink-300);
  --color-theme-8-400: var(--color-pink-400);
  --color-theme-8-500: var(--color-pink-500);
  --color-theme-8-600: var(--color-pink-600);
  --color-theme-8-700: var(--color-pink-700);
  --color-theme-8-800: var(--color-pink-800);
  --color-theme-8-900: var(--color-pink-900);
}
